<a href="https://colab.research.google.com/github/SarahMason2015/Billionaires/blob/main/BillionairesData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import sklearn as skl
import tensorflow as tf

In [39]:
billion_df = pd.read_csv("resources/Dataset2Billionaires.csv")
billion_df.head()

,rank,finalWorth,personName,source,industries,countryOfCitizenship,gender,lastName,estWorthPrev
0,1,194752.748,Bernard Arnault & family,LVMH,Fashion & Retail,France,M,Arnault,194752.7476
1,2,193371.207,Jeff Bezos,Amazon,Technology,United States,M,Bezos,193371.2075
2,3,153245.292,Elon Musk,"Tesla, SpaceX",Automotive,United States,M,Musk,153245.2917
3,4,126812.953,Bill Gates,Microsoft,Technology,United States,M,Gates,126812.9531
4,5,120055.498,Mark Zuckerberg,Facebook,Technology,United States,M,Zuckerberg,120055.4980

In [40]:
billion_df.nunique()

rank                    2595
finalWorth              2595
personName              2736
source                   965
industries                18
countryOfCitizenship      70
gender                     2
lastName                1738
estWorthPrev            2597
dtype: int64

In [41]:
billion_df['countryOfCitizenship'].value_counts()

United States           714
China                   606
India                   143
Germany                 137
Russia                  118
                       ...
Venezuela                 1
Eswatini (Swaziland)      1
Algeria                   1
Liechtenstein             1
Nepal                     1
Name: countryOfCitizenship, Length: 70, dtype: int64

In [42]:
billion_df['lastName'].value_counts()

Wang         55
Li           47
Chen         42
Zhang        37
Wu           28
             ..
Iliev         1
Jaipuria      1
Milchan       1
Kurtz         1
Rafaelian     1
Name: lastName, Length: 1738, dtype: int64

In [43]:
billion_df['industries'].value_counts()

Finance & Investments         362
Technology                    353
Manufacturing                 329
Fashion & Retail              278
Healthcare                    217
Real Estate                   216
Food & Beverage               215
Diversified                   189
Energy                        102
Media & Entertainment          97
Service                        75
Metals & Mining                74
Automotive                     69
Construction & Engineering     46
Logistics                      35
Telecom                        32
Gambling & Casinos             25
Sports                         24
Name: industries, dtype: int64

In [44]:
billion_df['finalWorth'].value_counts()

2864.815    8
1000.000    6
1500.000    5
1184.378    4
8860.803    4
           ..
3538.715    1
3534.529    1
3530.960    1
3530.765    1
100.000     1
Name: finalWorth, Length: 2595, dtype: int64

In [45]:
billion_df['gender'].value_counts()

M    2413
F     314
Name: gender, dtype: int64

In [46]:
billion1_df = pd.read_csv("resources/billionaires.csv")
billion1_df.head()

,name,rank,year,company.founded,company.name,company.relationship,company.sector,company.type,demographics.age,demographics.gender,...,location.gdp,location.region,wealth.type,wealth.worth in billions,wealth.how.category,wealth.how.from emerging,wealth.how.industry,wealth.how.inherited,wealth.how.was founder,wealth.how.was political
0,Bill Gates,1,1996,1975,Microsoft,founder,Software,new,40,male,...,8.100000e+12,North America,founder non-finance,18.5,New Sectors,True,Technology-Computer,not inherited,True,True
1,Bill Gates,1,2001,1975,Microsoft,founder,Software,new,45,male,...,1.060000e+13,North America,founder non-finance,58.7,New Sectors,True,Technology-Computer,not inherited,True,True
2,Bill Gates,1,2014,1975,Microsoft,founder,Software,new,58,male,...,0.000000e+00,North America,founder non-finance,76.0,New Sectors,True,Technology-Computer,not inherited,True,True
3,Warren Buffett,2,1996,1962,Berkshire Hathaway,founder,Finance,new,65,male,...,8.100000e+12,North America,founder non-finance,15.0,Traded Sectors,True,Consumer,not inherited,True,True
4,Warren Buffett,2,2001,1962,Berkshire Hathaway,founder,Finance,new,70,male,...,1.060000e+13,North America,founder non-finance,32.3,Traded Sectors,True,Consumer,not inherited,True,True

In [48]:
billion1_df['name'].value_counts()

Bill Gates                    3
Karl-Heinz Kipp               3
Richard DeVos                 3
Alberto Bailleres Gonzalez    3
Lee Bass                      3
                             ..
Keiichiro Takahara            1
Jamshyd Godrej                1
George Bishop                 1
Evan Williams                 1
Zhu Wenchen                   1
Name: name, Length: 2058, dtype: int64

In [49]:
billion1_df.nunique()

name                        2058
rank                         468
year                           3
company.founded              178
company.name                1577
company.relationship          74
company.sector               520
company.type                  18
demographics.age              76
demographics.gender            3
location.citizenship          73
location.country code         74
location.gdp                  81
location.region                8
wealth.type                    5
wealth.worth in billions     183
wealth.how.category            9
wealth.how.from emerging       1
wealth.how.industry           19
wealth.how.inherited           6
wealth.how.was founder         1
wealth.how.was political       1
dtype: int64

In [50]:
billion1_df['name'].nunique()

2058

In [51]:
billion_df.nunique()

rank                    2595
finalWorth              2595
personName              2736
source                   965
industries                18
countryOfCitizenship      70
gender                     2
lastName                1738
estWorthPrev            2597
dtype: int64

In [52]:
billion_df['personName'].nunique()

2736

In [53]:
split_names = billion1_df.name.str.split().tolist()

In [54]:
for i, name in enumerate(split_names):
    if 'and' in name:
        
        print(i, name)

6 ['Oeri', 'Hoffman', 'and', 'Sacher']
13 ['Theo', 'and', 'Karl', 'Albrecht']
15 ['Walter', 'Thomas', 'and', 'Raymond', 'Kwok']
24 ['Theo', 'and', 'Karl', 'Albrecht']
27 ['Hans', 'and', 'Gad', 'Rausing']
67 ['Walter', 'Thomas', 'and', 'Raymond', 'Kwok']
84 ['Robert', 'and', 'Ten', 'Fong', 'Ng']
208 ['James', 'Arthur', 'and', 'John', 'Irving']
260 ['Thomas', 'and', 'Raymond', 'Kwok']
266 ['Michael', 'and', 'Rainer', 'Schmidt-Ruthenbeck']
268 ['James', 'Arthur', 'and', 'John', 'Irving']
301 ['Jay', 'and', 'Arthur', 'Pritzker']
483 ['Adrian', 'and', 'John', 'Swire']
486 ['Joseph', 'and', 'Moise', 'Safra']
552 ['Michael', 'and', 'Rainer', 'Schmidt-Ruthenbeck']
782 ['Carlos', 'and', 'Alejandro', 'Bulgheroni']
805 ['Willi', 'and', 'Isolde', 'Liebherr']
826 ['Juan', 'and', 'Carlos', 'March']
906 ['Shashi', 'and', 'Ravi', 'Ruia']
913 ['Baldwin', 'and', 'Nikolaus', 'Knauf']
976 ['Roberto', 'and', 'Gabriel', 'Andrade']
1109 ['Willi', 'and', 'Isolde', 'Liebherr']
1112 ['Juan', 'and', 'Carlos', 'March']
1228 ['Alicia', 'and', 'Esther', 'Koplowitz']
1292 ['Ron', 'and', 'Fred', 'Mannix']
1435 ['Jacob', 'and', 'Yehudith', 'Richter']
1807 ['Malvinder', 'and', 'Shivinder', 'Singh']
1861 ['Jose', 'and', 'Francisco', 'Jose', 'Calderon', 'Rojas']

In [55]:
for i, name in enumerate(split_names):
    if len(name) > 2: 
        newlist = [name[0],name[-1]]
        print (newlist)

['Carlos', 'Helu']
['Oeri', 'Sacher']
['Lee', 'Kee']
['Theo', 'Albrecht']
['Walter', 'Kwok']
['Prince', 'Alsaud']
['Theo', 'Albrecht']
['S', 'Walton']
['Hans', 'Rausing']
['S.', 'Walton']
['Carlos', 'Helu']
['Anne', 'Chambers']
['Barbara', 'Anthony']
['Kwek', 'Beng']
['Walter', 'Kwok']
['Carlos', 'Helu']
['Lui', 'Woo']
['Robert', 'Ng']
['Prince', 'Alsaud']
['Antonio', 'Moraes']
['Eka', 'Widjaja']
['Jorge', 'Lemann']
['Lee', 'Kee']
['Mohamed', 'Mahfouz']
['Leonardo', 'Vecchio']
['S', 'Walton']
['Leonardo', 'Vecchio']
['Gerald', 'Grosvenor']
['Liem', 'Liong']
['Lee', 'Kee']
['Mustafa', 'Koc']
['Barbara', 'Anthony']
['Anne', 'Chambers']
['Anne', 'Chambers']
['Mohammad', 'Amoudi']
['Gregorio', 'Companc']
['German', 'Velasco']
['James', 'Irving']
['August', 'Finck']
['Luis', 'Sarmiento']
['Laurene', 'Jobs']
['Tiong', 'King']
['Dieter', 'Holtzbrinck']
['Quek', 'Chan']
['Gerald', 'Grosvenor']
['Henry', 'Perot']
['Thomas', 'Kwok']
['Jay', 'Andel']
['August', 'Finck']
['Michael', 'Schmidt-Ruthenbeck']
['James', 'Irving']
['Alberto', 'Gonzalez']
['David', 'Reuben']
['Khoo', 'Puat']
['Jay', 'Pritzker']
['Alejandro', 'Davila']
['Henry', 'Perot']
['Robert', 'Ng']
['Charlene', 'Carvalho-Heineken']
['Lim', 'Tong']
['Antonio', 'Moraes']
['Ng', 'Fong']
['Von', 'family']
['Kjeld', 'Kristiansen']
['Marcel', 'Telles']
['Jaime', 'Ayala']
['John', 'Vlissingen']
['Joao', 'Marinho']
['Jose', 'Marinho']
['Sheikh', 'Al-rajhi']
['Maersk', 'Moller']
['Carlos', 'Sicupira']
['A', 'Perenchio']
['Emilio', 'Jean']
['Khoo', 'Puat']
['Ricardo', 'Pliego']
['Leonardo', 'Vecchio']
['Hank', 'Meijer']
['Kjeld', 'Kristiansen']
['August', 'Finck']
['Ricardo', 'Pliego']
['Adrian', 'Swire']
['Joseph', 'Safra']
['Aloysio', 'Faria']
['R', 'Hartono']
['Lee', 'Wee']
['Eugenio', 'Lagnera']
['Michael', 'Schmidt-Ruthenbeck']
['Mustafa', 'Koc']
['Dirce', 'Camargo']
['Augusto', 'Perfetti']
['Heinz', 'Thiele']
['Alfred', 'Oppenheim']
['Emilio', 'Jean']
['Susan', 'Buffett']
['Barbara', 'Johnson']
['H', 'Huizenga']
['Maersk', 'Moller']
['Nancy', 'Laurie']
['Eva', 'Rivera']
['Quek', 'Chan']
['Mary', 'Malone']
['Paolo', 'Rocca']
['Lee', 'Chiu']
['Lorenzo', 'Montelera']
['Abdullah', 'Rajhi']
['Edmund', 'Littlefield']
['Teh', 'Piow']
['S.', 'Cathy']
['Alberto', 'Gonzalez']
['Sandra', 'Mera']
['Harry', 'Helmsley']
['Luis', 'Angulo']
['Hui', 'Yan']
['Hui', 'Mau']
['Lo', 'Shek']
['R', 'Hartono']
['Gerald', 'Grosvenor']
['Abdul', 'Ghurair']
['Alberto', 'Gonzalez']
['Khalid', 'Mahfouz']
['Kjeld', 'Kristiansen']
['Ray', 'Hunt']
['Teh', 'Piow']
['Carlos', 'Bulgheroni']
['Albert', 'Taxis']
['Yeoh', 'Lay']
['Bernardo', 'Sada']
['Anders', 'Povlsen']
['Willi', 'Liebherr']
['Maria', 'Aramburuzabala']
['Wee', 'Yaw']
['Juan', 'March']
['Maria', 'Aramburuzabala']
['Mary', 'Malone']
['Antonio', 'Ruiz']
['Stein', 'Hagen']
['Alfonso', 'Garza']
['Maria', 'Aramburuzabala']
['H', 'Huizenga']
['Gregorio', 'Companc']
['Shashi', 'Ruia']
['Jose', 'Saffie']
['Jaime', 'Demarfa']
['Carlos', 'Lulle']
['Julio', 'Domingo']
['Baldwin', 'Knauf']
['Chen', 'Hwa']
['Abdulla', 'Ghurair']
['Ann', 'Kroenke']
['Gwendolyn', 'Meyer']
['Pauline', 'Keinath']
['Abilio', 'Diniz']
['Chen', 'Hwa']
['Kwek', 'Beng']
['Dorrance', 'Hamilton']
['Roberto', 'Andrade']
['Abilio', 'Diniz']
['Luiz', 'Garcia']
['Jay', 'Lee']
['John', 'Sobrato']
['Majid', 'Futtaim']
['Wee', 'Yaw']
['Frances', 'Geballe']
['Barbara', 'Johnson']
['Abdul', 'Jeraisy']
['Billy', 'McCombs']
['Luis', 'Angulo']
['Tiong', 'King']
['Kathryn', 'Albertson']
['Barbara', 'Gage']
['Guenter', 'Family']
['Marilyn', 'Nelson']
['Susan', 'Buffett']
['Emanuele', 'Saputo']
['Lee', 'Cheng']
['Paul', 'Jones']
['Run', 'Shaw']
['Lin', 'San']
['Eugenio', 'Lagnera']
['Roberto', 'Barrera']
['Isaac', 'Raffoul']
['Barbara', 'Gage']
['Gloria', 'Taxis']
['Jay', 'Andel']
['John', 'Vlissingen']
['Marilyn', 'Nelson']
['Rafael', 'Pino']
['Stein', 'Hagen']
['Willi', 'Liebherr']
['Juan', 'March']
['Baron', 'Thyssen-Bornemisza']
['Chang', 'Fa']
['Francisco', 'Branco']
['Nancy', 'Laurie']
['Hope', 'Beuren']
['Charlotte', 'Weber']
['Evelyn', 'Haas']
['David', 'Barclay']
['Curtis', 'Carlson']
['Ahmed', 'Kanoo']
['Alfredo', 'Helu']
['Carlo', 'Benedetti']
['Isaac', 'Raffoul']
['Roberto', 'Ramirez']
['Saleh', 'Rajhi']
['Bernard', 'Sherman']
['Andreas', 'Bechtolsheim']
['Ricardo', 'Pliego']
['Ana', 'Cafferata']
['Abdul', 'Al-Sulaiman']
['Alicia', 'Koplowitz']
['Isabel', 'Santos']
['Martin', 'Bouygues']
['Niels', 'Louis-Hansen']
['Archie', 'Emmerson']
['Jaime', 'Ayala']
['Lee', 'Wee']
['Ron', 'Mannix']
['Ian', 'Livingstone']
['J.', 'Reyes']
['H.', 'Perot']
['Leon', 'Cooperman']
['Prince', 'Kabeer']
['Rosa', 'Garavoglia']
['Sri', 'Lohia']
['Charlotte', 'Weber']
['Francesco', 'Caltagirone']
['J', 'Ricketts']
['Marco', 'Provera']
['Quek', 'Chan']
['Rafael', 'Calvo-Sotelo']
['Aloysio', 'Faria']
['Jean', 'Cayard']
['Amalia', 'Fortabat']
['Belmiro', 'Azevedo']
['Benjamin', 'Rothschild']
['Dorrance', 'Hamilton']
['Ernestina', 'Noble']
['George', 'Lien']
['German', 'Velasco']
['Hope', 'Beuren']
['Jacob', 'Richter']
['Lee', 'Chiu']
['Malcolm', 'Chace']
['Wee', 'Yaw']
['Desh', 'Gupta']
['Antonio', 'Moraes']
['Archie', 'Emmerson']
['Eddie', 'Zakay']
['Ermirio', 'Moraes']
['Hans', 'Wild']
['Jay', 'Pritzker']
['Maria', 'Scripilliti']
['Mohammed', 'Issa']
['Syed', 'AlBukhary']
['H.', 'Johnson']
['Imogene', 'Johnson']
['John', 'DeJoria']
['Kushal', 'Singh']
['S.', 'Johnson']
['Samuel', 'Lee']
['Do', 'Chang']
['Fernando', 'Salles']
['Jaime', 'Bacal']
['Jin', 'Chang']
['Joao', 'Salles']
['Pedro', 'Salles']
['Walther', 'Junior']
['Abilio', 'Diniz']
['Alexandre', 'Santos']
['Chee', 'Tung']
['Mary', 'Malone']
['Michael', 'Schmidt-Ruthenbeck']
['Saif', 'Ghurair']
['W.', 'Hunt']
['Eva', 'Bucher-Haefner']
['Hanni', 'Kasprzak']
['Law', 'Po']
['Marie', 'Beauvalot']
['Yeoh', 'Lay']
['A.', 'Perenchio']
['Edson', 'Bueno']
['Emilio', 'Jean']
['Hui', 'Chit']
['Maria', 'Falabella']
['Sze', 'Bok']
['Abdulla', 'Futtaim']
['Belmiro', 'Azevedo']
['Eduardo', 'Anderson']
['Francisco', 'Mera']
['H.', 'Huizenga']
['Juan', 'Mera']
['Juan-Miguel', 'Mir']
['Kjell', 'Rokke']
['Madeleine', 'Ericksson']
['Abdullah', 'Rajhi']
['Brijmohan', 'Munjal']
['Carlos', 'Lulle']
['Henry', 'Wah']
['Kwek', 'Beng']
['Louis', 'Duff']
['Jean', 'Pritzker']
['Jean', 'Gandur']
['Kuok', 'Hong']
['Mario', 'Polegato']
['Robert', 'CA']
['John', 'Mol']
['Manuel', 'Hernandez']
['Regina', 'Dias']
['Renata', 'Nascimento']
['Romesh', 'Wadhwani']
['Rossana', 'Botelho']
['Goh', 'Liang']
['Antonio', 'Seabra']
['B.', 'Hughes']
['David', 'Sandoval']
['Gerald', 'Ford']
['Malvinder', 'Singh']
['Mustafa', 'Koc']
['N.', 'Edwards']
['Raj', 'RK']
['Benjamin', 'Rothschild']
['Carlos', 'Rhon']
['Erwin', 'Mueller']
['Georg', 'Opel']
['Jose', 'Rojas']
['Li', 'Lim']
['Matt', 'Walsh']
['Or', 'Sheun']
['Sit', 'Lam']
['S.', 'Abraham']
['Alvaro', 'Bendeck']
['Dulce', 'Bueno']
['Mohamed', 'Fayed']
['Rubens', 'Mello']
['Sulaiman', 'Rajhi']
['Diego', 'Valle']
['Kavitark', 'Shriram']
['Marc', 'Lacharriere']
['Chu', 'Yiu']
['H.', 'Perot']
['Lim', 'Kuin']
['Lutz', 'Helmig']
['M.A.', 'Ali']
['Roberto', 'Ramirez']
['Susan', 'Hagen']
['Tiong', 'King']
['Joop', 'Ende']
['N.R.', 'Murthy']
['Pier', 'Piana']
['Tony', 'Caktiong']
['Carl', 'Oetker']
['Edgar', 'Picciotto']
['Albert', 'Taxis']
['Alfred', 'Clark']
['Andrea', 'Valle']
['D.', 'Calvo-Sotelo']
['Joyce', 'Teel']
['Mangal', 'Lodha']
['Mehmet', 'Tara']
['Pham', 'Vuong']
['Robert', 'UK']
['Roberto', 'Rossi']
['Wong', 'Hei']
['Ali', 'Agaoglu']
['Ana', 'Cafferata']
['Ana', "Sant'Anna"]
['Benu', 'Bangur']
['Cesar', 'Pires']
['Rosa', 'Cafferata']
['Wong', 'Yu']
['Alexandre', 'Bartelle']
['Alfredo', 'Helu']
['Chang', 'Fa']
['Francesco', 'Caltagirone']
['Gregorio', 'Companc']
['Huang', 'Tsai']
['Jose', 'Fernandez-Urrutia']
['Juan', 'Escotet']
['Maria', 'Calvo-Sotelo']
['Mehmet', 'Gunal']
['Sergio', 'Andrade']
['Billy', 'McCombs']
['Francesco', 'Salini']
['Gian', 'Moratti']
['J.', 'Ricketts']
['Joao', 'Filho']
['Lina', 'Aguiar']
['Luis', 'Rey']
['Max', 'Suberville']
['Patricia', 'Rossi']
['C.', 'Metropoulos']
['Carlos', 'Jereissati']
['Charlotte', 'Weber']
['Chu', 'Yee']
['Eggon', 'Silva']
['Jorge', 'Filho']
['Jose', 'Peres']
['Lee', 'Tat']
['Low', 'Kwong']
['Mustafa', 'Topbas']
['Rufino', 'Gonzalez']
['Chen', 'Keong']
['Ahmet', 'Zorlu']
['Asok', 'Hiranandani']
['Carol', 'Barnett']
['Cho', 'Wong']
['Guilherme', 'Leal']
['Huang', 'Tsai']
['Koh', 'Meng']
['Lia', 'Aguiar']
['Maria', 'Lacroze']
['Mohammed', 'Barwani']
['Rubens', 'Souza']
['Wong', 'Li']
['Xiu', 'Hawken']
['Zhong', 'Jian']
['Alfredo', 'Filho']
['Brij', 'Singal']
['Danny', 'Sing']
['Aerin', 'Zinterhofer']
['Ana', 'Villela']
['Choo', 'Ngen']
['Evgeny', 'Shvidler']
['Goh', 'Ooi']
['Jose', 'Aristrain']
['Jose', 'Nogueira']
['Juan', 'Anderson']
['Lachhman', 'Mittal']
['Vito', 'Rodriguez']
['Giancarlo', 'Civita']
['Jose', 'Neto']
['Jose', 'Moraes']
['K.', 'Sahi']
['Liu', 'Chung']
['Neide', 'Moraes']
['Roberta', 'Civita']
['Victor', 'Neto']
['C.', 'Koch']
['Horst', 'Pudwill']
['John', 'Lieshout']
['Jorge', 'Rodriguez']
['Lam', 'Ngo']
['Lim', 'Sarwono']
['O.', 'Biondi']
['Stefan', 'Holtzbrinck']
['Vivek', 'Sehgal']

In [65]:
billion1_df = pd.DataFrame(columns = ['First', 'Last'])
print(billion1_df)

Empty DataFrame
Columns: [First, Last]
Index: []